*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first{
    background-color: brown;
    justify-content: center;
    width: 100%;
    height: 20vh;
    display: flex;
    padding: 30px;
    color: white;

}